.card-image-wrapper {
    padding: 40.95% 0;
    background-color: #f2f2f2;
    vertical-align: baseline;
    position: relative;
}
.card-image {
    height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    transition: transform 1s ease-out;
}

.card-heading {
    padding-top: 10px; 
}
.card-details-color {
    font-size: 11.6667px;
    font-weight: 400;
    margin-right: 0.5rem;
}

.card-wrapper {
    padding: 20px 5px;
}

@media (min-width: 769px) {
    .card-heading, .card-details-price {
        font-size: 16px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .card-heading, .card-details-price {
        font-size: 13px;
    }
}

@media (max-width: 480px) {
    .card-heading, .card-details-price {
        font-size: 14px;
    }
}


.color-selector {
    background: black;
}

.hover-image {
    opacity: 0.3;
    /* border: 1px solid red; */
}

.bag {
    color: black;
    height: 20px;
    position: absolute;
    top: 55%;
    left: 85%;
    /* border: 1px solid red; */
    border-radius: 15px;
    background: white;
    padding: 2.5%;
}

@media (max-width: 900px) {
    .bag {
        height: 15px;
    }
}

@media (max-width: 480px) {
    .bag {
        height: 13px;
    }
}

@media (min-width: 481px) and (max-width: 600px) {
    .bag {
        /* height: 15px; */
        left: 84%;
    }
}

@media (min-width: 601px) and (max-width: 768px) {
    .bag {
        left: 86%;
    }
}

@media (min-width: 769px) and (max-width: 900px) {
    .bag {
        /* height: 15px; */
        left: 85%;
    }
}