.cards-list {
    margin: 0 auto;
    max-width: 1090px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* gap: 10px;
    row-gap: 20px; */
}

@media (max-width: 767px)
{
    .cards-list {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media only screen and (max-width: 1150px)
{
    .cards-list {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (max-width: 480px) {
    .cards-list {
        font-size: 14px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .cards-list {
        font-size: 13px;
    }
}

@media (min-width: 481px) {
    .cards-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 769px) {
    .cards-list {
        grid-template-columns: repeat(4, 1fr);
    }
}