.color-selector {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    border: 1px solid red;
}

.checkmark-container {
    position: relative;
    display: inline;
    /* border: 1px solid red; */
    margin-bottom: 25px;
    margin-right: 30px;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: black;
}

/* On mouse-over, add a grey background color */
.checkmark-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkmark-container input:checked ~ .checkmark {
    background-color: #2196F3;
  }

